/*
*   #293347
*/


.content{
    min-height: 100%;
     height: auto !important;
    height: 100%;
    margin: 0 auto -10%;
}

.bottom-navigation-bar{
     position:fixed; 
    /* left:0px; */
    bottom:0px;
    height:150px;
     width:100%; 
    background:#f9ab4f;
    
}



.navigation-list{
    height: 140px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    /* border: 1px solid #ccc; */
    /* border-width: 1px 0;     */
    text-align: center;
    /* font-size: 22px; */
    /* font-family: 'Cham-WebFont', Arial, sans-serif; */
    background-color: #f9ab4f;
}

.navigation-item{
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff; 
    font-size: 3vh; 

    /* width: 25%;  */
    /* height: 100%;  */
    /* display: inline-block;  */
}




.nav-icon{
    /* padding: 5% 5% */
}